<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon style="color: #FF9D5C;" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trainers">
      <ion-icon style="color: #FF9D5C;" name="barbell-outline"></ion-icon>
      <ion-label>Trainers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon style="color: #FF9D5C;" name="pulse-outline"></ion-icon>
      <ion-label>Health</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon style="color: #FF9D5C;" name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
