<ion-app>

  

    <ion-menu contentId="main-content">
      
      <ion-header>
        <ion-toolbar>
          <ion-title class="external-font">FASTFIT21</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false">
          <ion-item style="font-family: vogue;" [routerLink]="['/login']" ><i style="color: #FE672E;" class="lni lni-dumbbell ion-margin"></i>Workouts</ion-item>
          <ion-item style="font-family: vogue;"><i style="color: #FE672E;" class="lni lni-heart-filled ion-margin"></i>Yoga</ion-item>
          <ion-item style="font-family: vogue;"><i style="color: #FE672E;" class="lni lni-pulse ion-margin"></i>Pilates</ion-item>
          <ion-item style="font-family: vogue;"><i style="color: #FE672E;" class="lni lni-apple ion-margin"></i>Zumba</ion-item>
          <ion-item style="font-family: vogue;"><i style="color: #FE672E;" class="lni lni-eye ion-margin"></i>KickBoxing</ion-item>
          <ion-item class="ion-margin chika"><img class="image-icon" src='../../assets/img/FastFit21.png'/></ion-item>
        </ion-menu-toggle>
        </ion-list>
        
      </ion-content>
      
    </ion-menu>

  
    
  <ion-router-outlet id="main-content"></ion-router-outlet>
  
  
</ion-app>
